{% extends "base.html" %}
{% load static %}

{% block css_file %}
    <link rel='stylesheet' href='{% static "styles/activity.css" %}'>
{% endblock css_file %}

{% block title %}Monthly Activities{% endblock title %}

{% block content %}
    <ul >
        {% for month in months  %}
            <li class='list'>
                <a href='{% url "monthly-activity" month %}'>
                    {{month}}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% include "include/include.html" with activity_page='Edit activity' %}
{% endblock  %}